:root {
    --BackgroundQD: #EAE6E5;
    --TextQD: #514A41;
    --LightQD: #EAE6E5;
    --DarkQD: #12130F;
    --AccentLQD: #8FCB9B;
    --AccentMQD: #5B9279;
    --AccentDQD: #375344;
    --GreyQD: #8F8073;
    --DarkGreyQD: #514A41;

    --smallGapQD: 5px;
    --smallPadQD: 10px;
    --medPadQD: 20px;
    --lgPadQD: 30px;
    --megaPadQD: 50px;
}

@font-face {
    font-family: 'Roboto Slab' !important;
    src: url("chrome-extension://jffpfohbgkknfbnfngdbaifoleoifgbp/fonts/RobotoSlab-Light.ttf") !important;
}

.qd-h1, .qd-h2, .qd-h3, .qd-h4, .qd-p, .qd-button, #quick-dictionary-popup li {
    color: var(--TextQD) !important;
}

.qd-h1 {
    font-size: 1.5rem;
    line-height: normal;
}

.qd-h2 {
    font-size: 1.3rem;
}

.qd-p {
    font-size: 1rem;
}

.qd-p, .qd-h2, .qd-h3 {
    margin: 0px !important;
}

.qd-hr {
    border-top: 2px solid var(--GreyQD) !important;
    margin: 0px !important;
}

#qd-logo-container {
    background-color: var(--DarkGreyQD) !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: var(--lgPadQD) var(--lgPadQD) 0px 0px;
    padding: var(--smallPadQD);
}

#qd-logo-container img {
    height: 10vh;
    width: auto;
}

#quick-dictionary-popup {
    font-family: 'Roboto Slab', serif !important;
    background-color: var(--BackgroundQD);
    color: var(--TextQD);
    width: min-content;
    min-width: 30%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: var(--smallGapQD);
    right: var(--smallGapQD);
    z-index: +2000;
    border-radius: var(--smallPadQD);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
}

#qd-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--smallGapQD);
    padding: var(--smallPadQD) var(--lgPadQD);
}

#qd-results-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--smallGapQD);
}

#qd-results-section {
    display: flex;
    flex-direction: column;
    padding: var(--smallPadQD) var(--lgPadQD);
}

#qd-definition {
    margin-left: var(--lgPadQD);
}

#qd-definition li {
    list-style-type: decimal;
}

#qd-pos {
    font-style: italic !important;
}

#qd-source-link {
    grid-column: 3;
    justify-self: end;
    align-self: end;
    margin-top: var(--medPadQD);
}

.qd-button {
    background-color: var(--AccentLQD) !important;
    transition: .3s;
}

.qd-button:hover {
    cursor: pointer;
    background-color: var(--AccentMQD) !important;
    color: var(--Light) !important;
}

/* Styling for the popup window */
/* Created following these instructions: https://medium.com/front-end-weekly/creating-a-toggle-switch-in-css-2d23e496d035 */
#qd-popup-body {
    background-color: var(--LightQD);
    width: max-content;
    text-align: center;
}

#qd-popup-header {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    color: var(--TextQD);
}

.qd-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--GreyQD);
    border-radius: var(--medPadQD);
}

.qd-switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--LightQD);
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

.qd-checkbox {
    display: none;
}

.qd-checkbox:checked + .qd-switch::after {
    left : 20px; 
}

.qd-checkbox:checked + .qd-switch {
    background-color: var(--AccentLQD);
}