:root {
    --Background: #EAE6E5;
    --Text: #514A41;
    --Light: #EAE6E5;
    --Dark: #12130F;
    --AccentL: #8FCB9B;
    --AccentM: #5B9279;
    --AccentD: #375344;
    --Grey: #8F8073;
    --DarkGrey: #514A41;

    --smallGap: 5px;
    --smallPad: 10px;
    --medPad: 20px;
    --lgPad: 30px;
    --megaPad: 50px;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("fonts/RobotoSlab-Light.ttf");
}

p, h2, h3 {
    margin: 0px;
}

hr {
    border-top: 2px solid var(--Grey) !important;
    margin: 0px !important;
}

#logo-container {
    background-color: var(--DarkGrey);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: var(--lgPad) var(--lgPad) 0px 0px;
    padding: var(--smallPad);
}

#logo-container img {
    height: 10vh;
    width: auto;
}

#quick-dictionary-popup {
    font-family: 'Roboto Slab', serif !important;
    font-size: 1.6rem;
    background-color: var(--Background);
    color: var(--Text);
    width: min-content;
    min-width: 30%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: var(--smallGap);
    right: var(--smallGap);
    z-index: +2000;
    border-radius: var(--lgPad);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: scroll;
}

#qd-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--smallGap);
    padding: var(--smallPad) var(--lgPad);
}

#results-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--smallGap);
}

#results-section {
    display: flex;
    flex-direction: column;
    padding: var(--smallPad) var(--lgPad);
}

#definition {
    margin-left: var(--lgPad);
}

#definition li {
    list-style-type: decimal;
}

#pos {
    font-style: italic !important;
}

#source-link {
    grid-column: 3;
    justify-self: end;
    align-self: end;
    margin-top: var(--medPad);
}

button {
    background-color: var(--AccentL) !important;
    transition: .3s;
}

button:hover {
    cursor: pointer;
    background-color: var(--AccentM) !important;
    color: var(--Light) !important;
}